__pycache__/
*.py[cod]
.venv/
venv/
.env
*.db
*.sqlite3
*.pt
*.pkl
*.joblib
mlruns/
uploads/
models/
node_modules/
dist/
.DS_Store
*.log
C:\Users\avira\OneDrive\Desktop\Major_Projects\wealthpilot\WealthPilot_5Phase_Complete_Brief.docx
C:\Users\avira\OneDrive\Desktop\Major_Projects\wealthpilot\WealthPilot_Setup_Guide.docx
backend/.envt